 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* color: black; */
  background-color: rgba(0, 0, 0, 0.877);
    /* box-sizing: inherit; */
    /* overflow-x: hidden; */
    /* font-size: 16px; */
}

.navbar {
 
  /* height: 90px; */
  display: flex;
  align-items: center;
  /* padding: 2px; */
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.342);
  /* margin-top: 2px; */
  /* padding: 5px 5 ; */
  border: 3px solid aqua;
  border-radius: 20px;
  /* width: 95%; */
    /* height: 105px; */
    /* margin-right: auto;
    margin-left: auto; */


}
nav .logo{
  
 /* font-size: 100px;
 color: black;
font-weight: 600px;
justify-content: space-between;
text-align: left; */
}

nav {
  margin-right: 200px;
  flex: 1;
  text-align: right;

}

nav ul {
  display: inline-block;
  list-style-type: none;


}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  justify-content: space-between;
}

a {
  /* align-items: center; */
  text-decoration: none;
  color: white;
}
  
  p {
    /* color: black; */
  }
  
  /* .container { */
    /* max-width: 1300px; */
    /* height: 50px; */
    /* margin: auto; */
    /* padding-left: 25px;
    padding-right: 25px; */
  /* } */
  h1 {
    /* background-color:white ; */
    color: white;
    font-size: 25px;
    margin-top: 80px;
    /* margin-left: 40; */
    padding-left: 70px;
  }
  /* ProJects */
  h2 {
    /* background-color:white ; */
    color: white;
    font-size: 80px;
    /* margin-top: 2px; */
    /* margin-left: 40; */
    margin-left: 70px;
    border-bottom: 1px solid aqua;
    max-width: 16rem;
    /* max-height: 20rem; */
  }
  /* Web Development buttons */
  .btn {
    /* flex-wrap: wrap; */
    display: inline-block;
    background: lightseagreen;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    /* margin-left: 420px; */
    flex-wrap: wrap;
      margin-left: 420px;
  }
  
  
  .btnn {
    display: inline-block;
    /* background: lightseagreen; */
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    border: 2px solid aqua;
    transition: background 0.5s;
    
  
  }
  
  .btnnn {
    display: inline-block;
    /* background: lightseagreen; */
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    border: 2px solid aqua;
    transition: background 0.5s;
  
  }
  
  .btnnnn {
    display: inline-block;
    /* background: lightseagreen; */
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    border: 2px solid aqua;
    transition: background 0.5s;
  
  }
  /* landing page button */
  c {
    flex-wrap: wrap;
    color: darkcyan;
    /* text-decoration: none; */
    /* font-size: 20px; */
    /* font-weight: 500; */
    border-radius: 4px;
    /* letter-spacing: 1px; */
    margin-left: 200px;
    padding: 5px;
    justify-content:s;
    background-color: #fff;
  }
  
  d {
    flex-wrap: wrap;
    color: darkcyan;
    /* text-decoration: none; */
    /* font-size: 20px; */
    /* font-weight: 500; */
    /* border-radius: 0px; */
    /* letter-spacing: 1px; */
    /* margin: -20px; */
    padding: 5px;
    background-color: #fff;
  }
  
  e {
    flex-wrap: wrap;
    color: darkcyan;
    /* text-decoration: none; */
    /* font-size: 20px; */
    /* font-weight: 500; */
    /* border-radius: 0px; */
    /* letter-spacing: 1px; */
    /* margin: -20px; */
    padding: 5px;
    background-color: #fff;
  }
  
  f {
    flex-wrap: wrap;
    color: white;
    /* text-decoration: none; */
    /* font-size: 20px; */
    /* font-weight: 500; */
    border-radius: 4px;
    /* letter-spacing: 1px; */
    /* margin: -20px; */
    padding: 5px;
    background-color: darkcyan;
  }
  
  /* CARD 1 */
.card {
  width:540px;
  height: 650px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: 10px !important;
  margin: 100px;

}

p {
  font-size: 15px;
  padding: 20px;
  color: white;
  /* padding: 20px; */
  /* margin: 20px; */
  /* margin-top: 40px; */
}

h3 {
  font-size: 33px;
  color: #fff;
  font-weight: 600;
  padding-left: 20px;
  margin-top: 20px;
}

img {
  padding: 0px;
}

/* view more */
lii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 190px;
  background-color: darkgoldenrod;
}
/* card 2 */
.cardd {
  width: 550px;
  height: 630px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -650px !important;
  margin:650px;
  /* scroll-margin-inline-end: 200px; */



}
 
/* CARD 3 */
.cadd {
  width: 540px;
  height: 610px !important;
  background-color: darkcyan;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -720px !important;
  margin: 100px;

}


/* view more */
liii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 190px;
  background-color: darkcyan;
}
/* CARD 4 */
.cad {
  width: 550px;
  height: 670px;
  background-color: darkblue;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -630px !important;
  margin: 650px;
  /* scroll-margin-inline-end: 200px; */



}

/* view more */
liiii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 190px;
  background-color: darkblue;
}
/* CARD 5 */
.cd {
  width: 540px;
  height: 630px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -780px !important;
  margin: 100px;

}
/* CARD 6 */
.cr {
  width: 550px;
  height: 530px;
  background-color: rgba(255, 192, 203, 0.514);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -590px !important;
  margin:650px;
  /* scroll-margin-inline-end: 200px; */



}

/* view more */
liiiii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 190px;
  background-color: rgba(255, 192, 203, 0);
}
/* CARD 7 */
.ca {
  width: 540px;
  height: 540px;
  background-color: darkmagenta;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -680px !important;
  margin: 100px;

}

/* view more */
liiiiii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 190px;
  background-color: darkmagenta;
}
/* CARD 8 */
.abc {
  width: 550px;
  height: 710px;
  background-color: rgba(1, 1, 78, 0.37);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -600px !important;
  margin:650px;
  /* scroll-margin-inline-end: 200px; */



}


/* view more */
liiiiiii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 190px;
  background-color: rgba(3, 3, 51, 0.363);
}
/* CARD 9 */
.dcb {
  width: 540px;
  height: 500px;
  background-color: rgba(29, 29, 71, 0.205);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -850px !important;
  margin: 100px;


}

/* view more */
liiiiiiii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 190px;
  background-color: rgba(29, 29, 71, 0);
}
/* CARD 10 */
.art {
  width: 550px;
  height: 650px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -390px !important;
  margin:650px;
  /* scroll-margin-inline-end: 200px; */



}

/* CARD 11 */
.efg {
  width: 540px;
  height: 580px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -1000px !important;
  margin: 100px;

}
/* CARD 12 */
.gff {
  width: 550px;
  height: 500px;
  background-color: darkmagenta;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -320px !important;
  margin:650px;
  /* scroll-margin-inline-end: 200px; */



}
/* view more */
liiiiiiiii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 90px;
  background-color: darkmagenta;
}
     /* CARD 1 */
.card  img{
  width: 520px;
  

}
 
/* card 2 */
.cardd img {
  width: 520px;
   

}
 
/* CARD 3 */
.cadd  img{
  width: 520px;
  
}
/* CARD 4 */
.cad img {
  width: 520px;
   


}
 
/* CARD 5 */
.cd img {
  width: 520px;
  
}
/* CARD 6 */
.cr img {
  width: 520px;
}
/* CARD 7 */
.ca img {
  width: 520px;
   

}
 
/* CARD 8 */
.abc img {
  width: 450px;
   



}


 
/* CARD 9 */
.dcb img {
  width: 520px;
  

}

 
/* CARD 10 */
.art img {
  width: 450px;
  



}

/* CARD 11 */
.efg img {
  width: 520px;
  
   
}
/* CARD 12 */
.gff img {
  width: 520px;
  /* height: 400px; */
  
  /* scroll-margin-inline-end: 200px; */



} 
  
  
   .containe{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
    }
    .item{
        height: 25px;
        width: 110px;
        background-color: white;
        margin: 4px;
        /* border: 2px solid black; */
        /* border-radius: 5px solid black; */
        border-radius: 5px;
        transition: background 0.5s;
    }
    iii{
      color: rgb(8, 94, 94);
      font-size: 20px;
      padding-left: 5px;
    }
iiii{
  color: white;
  font-size: 20px;
  padding-left: 5px;
}



@media only screen and (max-width: 1076px){
     /* CARD 1 */

     
     .card  img{
      width: 220px;
      
    
    }
     
    /* card 2 */
    .cardd img {
      width: 220px;
       
    
    }
     
    /* CARD 3 */
    .cadd  img{
      width: 220px;
      
    }
    /* CARD 4 */
    .cad img {
      width: 220px;
       
    
    
    }
     
    /* CARD 5 */
    .cd img {
      width: 220px;
      
    }
    /* CARD 6 */
    .cr img {
      width: 220px;
    }
    /* CARD 7 */
    .ca img {
      width: 220px;
       
    
    }
     
    /* CARD 8 */
    .abc img {
      width: 150px;
       
    
    
    
    }
    
    
     
    /* CARD 9 */
    .dcb img {
      width: 220px;
      
    
    }
    
     
    /* CARD 10 */
    .art img {
      width: 150px;
      
    
    
    
    }
    
    /* CARD 11 */
    .efg img {
      width: 220px;
      
       
    }
    /* CARD 12 */
    .gff img {
      width: 220px;
      /* height: 400px; */
      
      /* scroll-margin-inline-end: 200px; */
    
    
    
    } 
  }    






@media only screen and (max-width: 1070px){
   /* CARD 1 */
.card {
  width: 240px;
  height: 350px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: 130px !important;
  margin: 400px;

}

p {
  font-size: 15px;
  padding: 20px;
  color: white;
  /* padding: 20px; */
  /* margin: 20px; */
  /* margin-top: 40px; */
}

h3 {
  font-size: 33px;
  color: #fff;
  font-weight: 600;
  padding-left: 20px;
  margin-top: 20px;
}

img {
  padding: 0px;
}

/* view more */
lii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 60px;
  background-color: darkgoldenrod;
}
/* card 2 */
.cardd {
  width: 250px;
  height: 430px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -750px !important;
  margin: 650px;
  /* scroll-margin-inline-end: 200px; */



}
 
/* CARD 3 */
.cadd {
  width: 240px;
  height: 410px !important;
  background-color: darkcyan;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -720px !important;
  margin: 400px;

}


/* view more */
liii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 50px;
  background-color: darkcyan;
}
/* CARD 4 */
.cad {
  width: 250px;
  height: 470px;
  background-color: darkblue;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -730px !important;
  margin: 650px;
  /* scroll-margin-inline-end: 200px; */



}

/* view more */
liiii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 50px;
  background-color: darkblue;
}
/* CARD 5 */
.cd {
  width: 240px;
  height: 530px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -780px !important;
  margin: 400px;

}
/* CARD 6 */
.cr {
  width: 250px;
  height: 430px;
  background-color: rgba(255, 192, 203, 0.514);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -790px !important;
  margin: 650px;
  /* scroll-margin-inline-end: 200px; */



}

/* view more */
liiiii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 50px;
  background-color: rgba(255, 192, 203, 0);
}
/* CARD 7 */
.ca {
  width: 240px;
  height: 340px;
  background-color: darkmagenta;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -680px !important;
  margin: 400px;

}

/* view more */
liiiiii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 50px;
  background-color: darkmagenta;
}
/* CARD 8 */
.abc {
  width: 250px;
  height: 410px;
  background-color: rgba(1, 1, 78, 0.37);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -700px !important;
  margin:650px;
  /* scroll-margin-inline-end: 200px; */



}


/* view more */
liiiiiii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 50px;
  background-color: rgba(3, 3, 51, 0.363);
}
/* CARD 9 */
.dcb {
  width: 240px;
  height: 380px;
  background-color: rgba(29, 29, 71, 0.205);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -750px !important;
  margin: 400px;


}

/* view more */
liiiiiiii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 50px;
  background-color: rgba(29, 29, 71, 0);
}
/* CARD 10 */
.art {
  width: 250px;
  height: 450px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -670px !important;
  margin:650px;
  /* scroll-margin-inline-end: 200px; */



}

/* CARD 11 */
.efg {
  width: 240px;
  height: 380px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -820px !important;
  margin: 400px;

}
/* CARD 12 */
.gff {
  width: 250px;
  height: 400px;
  background-color: darkmagenta;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -600px !important;
  margin:650px;
  /* scroll-margin-inline-end: 200px; */



}
/* view more */
.liiiiiiiii {
  color: aquamarine;
  text-decoration: none;
  font-size: 30px;
  margin-left: 40px;
  /* background-color: darkmagenta; */
}
  
}

  @media only screen and (max-width: 800px) {

    nav ul  {
      
         position: absolute;
         top: 70px;
         left: 0;
         background: #333;
         width: 100%;
         overflow: hidden;
         transition: max-height 0.5s;
 
     }
     nav ul li{
      
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
 
 
 
     }
     nav ul li a{
      
      color: #fff;
     }
     .menu-icon {
        display: block;
     
        cursor: pointer;
      }
 
 }
   
nav .logo{
  
   font-size: 33px;
  font-weight: 600px;
  justify-content: space-between;
  text-align: left;
}

nav {
  /* margin-right: 200px; */
    flex: 1;
    
    /* text-align: right; */

}
  

/* ---------------   media query for menu  -------------- */
.menu-icon {
    width: 28px;
    margin-left: 20px;
    /* background: #000; */
    display: none;
}

@media only screen and (max-width: 800px) {

   nav ul  {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }
    nav ul li{
       display: block;
       margin-right: 50px;
       margin-top: 10px;
       margin-bottom: 10px;



    }
    nav ul li a{
       color: #fff;
    }
    .menu-icon {
       display: block;
       cursor: pointer;
     }

}
  
/* 
@media only screen and (max-width: 629px) {
  liiiiiiiiii img{
    margin-left: 350px;
  }
  
}
@media only screen and (max-width: 666px) {
  liiiiiiiiii img{
    margin-left: 350px;
  }
  
}
@media only screen and (max-width: 674px) {
  liiiiiiiiii img{
    margin-left: 350px;
  }
  
}
@media only screen and (max-width: 616px) {
   .btn {
   margin-left: 300px; 
  }
}
@media only screen and (max-width: 496px) {
  .btn {
  margin-left: 200px; 
 }
}
@media only screen and (max-width: 396px) {
  .btn {
  margin-left: 100px; 
 }
}
@media only screen and (max-width: 296px) {
  .btn {
  margin-left: 10px; 
 }
} */

 
.bes{
  display: flex;
  /* flex-direction: column; */
}

@media only screen and (max-width: 926px){
  .bes{
    flex-direction: column;
  }
  .card {
    width: 240px;
    height: 350px;
    background-color: darkgoldenrod;
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
    margin-top: 130px !important;
    margin: 13px;
  
  }

  .cardd {
    width: 250px;
    height: 430px;
    background-color: darkgoldenrod;
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
    margin-top: -360px !important;
    margin: 270px;
    /* scroll-margin-inline-end: 200px; */
  
  
  
  }
  .cadd {
    width: 240px;
    height: 410px !important;
    background-color: darkcyan;
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
    margin-top: -340px !important;
    margin: 13px;
  
  }
  .cad {
  width: 250px;
  height: 470px;
  background-color: darkblue;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -340px !important;
  margin: 270px;
  /* scroll-margin-inline-end: 200px; */



}
.cd {
  width: 240px;
  height: 530px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -390px !important;
  margin: 13px;

}
.cr {
  width: 250px;
  height: 430px;
  background-color: rgba(255, 192, 203, 0.514);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -400px !important;
  margin: 270px;
  /* scroll-margin-inline-end: 200px; */



}





.ca {
  width: 240px;
  height: 340px;
  background-color: darkmagenta;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -290px !important;
  margin: 13px;

}

.abc {
  width: 250px;
  height: 410px;
  background-color: rgba(1, 1, 78, 0.37);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -320px !important;
  margin:270px;
  /* scroll-margin-inline-end: 200px; */



}
.dcb {
  width: 240px;
  height: 380px;
  background-color: rgba(29, 29, 71, 0.205);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -360px !important;
  margin: 13px;


}
.art {
  width: 250px;
  height: 450px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  
  margin-top: -290px !important;
  margin:270px;
 



}

.efg {
  width: 240px;
  height: 380px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -420px !important;
  margin: 13px;

}
.gff {
  width: 250px;
  height: 400px;
  background-color: darkmagenta;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -230px !important;
  margin:270px;
  /* scroll-margin-inline-end: 200px; */



}

}

@media only screen and (max-width: 1076px){
  .card {
    width: 240px;
    height: 400px;
    /* background-color: darkgoldenrod; */
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
    margin-top: 130px !important;
    margin: 13px;
  
  }

  .cardd {
    width: 250px;
    height: 460px;
    background-color: darkgoldenrod;
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
    margin-top: -350px !important;
    margin: 270px;
    /* scroll-margin-inline-end: 200px; */
  
  
  
  }
  .cadd {
    width: 240px;
    height: 440px !important;
    background-color: darkcyan;
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
    margin-top: -380px !important;
    margin: 13px;
  
  }
  .cad {
  width: 250px;
  height: 490px;
  background-color: darkblue;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -330px !important;
  margin: 270px;
  /* scroll-margin-inline-end: 200px; */



}
.cd {
  width: 240px;
  height: 560px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -430px !important;
  margin: 13px;

}
.cr {
  width: 250px;
  height: 490px;
  background-color: rgba(255, 192, 203, 0.514);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -400px !important;
  margin: 270px;
  /* scroll-margin-inline-end: 200px; */



}
.ca {
  width: 240px;
  height: 400px;
  background-color: darkmagenta;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -350px !important;
  margin: 13px;

}

.abc {
  width: 250px;
  height: 450px;
  background-color: rgba(1, 1, 78, 0.37);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -320px !important;
  margin:270px;
  /* scroll-margin-inline-end: 200px; */



}
.dcb {
  width: 240px;
  height: 400px;
  background-color: rgba(29, 29, 71, 0.205);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -400px !important;
  margin: 13px;


}
.art {
  width: 250px;
  height: 500px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  
  margin-top: -270px !important;
  margin:270px;
 



}

.efg {
  width: 240px;
  height: 400px;
  background-color: darkgoldenrod;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -500px !important;
  margin: 13px;

}
.gff {
  width: 250px;
  height: 440px;
  background-color: darkmagenta;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0px  2px 4px  rgba(0,0 ,0 ,0.2 )  ; */
  margin-top: -170px !important;
  margin:270px;
  /* scroll-margin-inline-end: 200px; */



}

}

@media only screen and (max-width: 430px){
  .item{
    height: 25px;
    width: 160px;
    background-color: white;
    margin: 4px;
    /* border: 2px solid black; */
    /* border-radius: 5px solid black; */
    border-radius: 5px;
    transition: background 0.5s;
}
}
 




@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
 
.footer-col2{
background-color: white;
 /* margin-left: 500px; */
}


.container{
  /* max-width: 11300px; */
  margin: auto;
}
.row{
display: flex;
flex-wrap: wrap;
}
ul{
list-style: none;
}
.footer{
background-color: rgba(95, 90, 90, 0.014);
 
}

.footer-col{
width: 33%;
padding: 0  20px;
}
.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 30px;
font-weight: 500;
position: relative;
}

p{ 
 
color: white;
}

h3{
color: #ffffff;
font-size: 20px;

/* margin-top: -10px; */
/* margin-left: 10px; */
}

.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255, 255, 255, 0);
margin: 0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease ;
flex-wrap: wrap;
}
.footer-bottom{
text-align: center;

}
.footer-bottom p{
color: #ffffff;
}
span{
color: aqua;
}
i{
  font-size: 20px;
  color: aqua;
}  



z{
  color: #fff;
 margin-left: 95px !important;
 flex-wrap: wrap;
}
zz{
  color: #fff;
  margin-left: 330px;
  flex-wrap: wrap;
}
zzz{
  color: #fff;
  margin-left: 360px;
  flex-wrap: wrap;
}
h4{
  
  /* margin-left: 15px; */
  border-bottom: 2px solid aqua;
  max-width: 2rem;
  margin-top: 30px;
  margin-right: 30px;
  /* font-size: 400px; */
}

@media only screen and (max-width: 640px){
liiiiiiiiii img{
  /* display: flex; */
   /* margin-left: 100px; */
   /* text-spacing-trim: 200px; */
   /* margin: 100px; */
}
liiiiiiiiiii img{
  display: flex;
  /* margin-left: 50px; */
  /* text-spacing-trim: 200px; */
  /* margin: 100px; */
}
liiiiiiiiiiii img{
display: flex;
/* margin-left: 350px; */
/* text-spacing-trim: 200px; */
/* margin: 100px; */
}

}
.box13{
width: 350px;
height: 200px;
background-color:  rgba(95, 90, 90, 0);  
padding: 3px;
margin: 3px;
/* margin-top: -180px; */
}
.box14{
/* width: 500px; */
/* height: 100px; */
/* color:white; */
}
.box15{
/* margin-left: 400px; */
}
.box16{
/* margin-left: 300px; */
}


.bes{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  justify-content: space-between;
  /* flex-direction: column; */
}


@media only screen and (max-width: 600px){
/*   .bos  img {
  width: 100px;
  margin-top: 1000px;
}
.bos h3{
  margin-top: 1000px;
} */
 .bes{
  flex-direction: column;
 }
.boxe img {
margin-top: 1100px;
/* margin-left: -100px; */
/* margin: 1000px; */
/* left: 200px; */
}
.box13{
margin-left: -250px;
margin-top: 300px;
}
.footer-bottom p{
margin-top: 500px;
}
.boxee img{
margin-top: 1000px;
margin-left: -130px;
}
.box17{
margin-left: -100px;
}
}
@media only screen and (max-width: 480px){
  h1{
    margin-left: -50px;
  }
  h2{
    margin-left: 50px;
    font-size: 70px;
    /* border-bottom: 1px solid aqua; */
    max-width: 13rem;
  }
  
}
@media only screen and (max-width: 516px){
  div10 img{
    width: 100%;
  }
}


@media only screen and (max-width: 945px){
  
  .btn {
    /* display: inline-block; */
    /* background: lightseagreen; */
    color: white;
    padding: 10px 5px;
    margin: 50px 0;
    border-radius: 20px;
    border: 1px solid aqua;
    transition: background 0.3s;
    /* font-size: 20px; */
    margin-left: 40px;
  /* margin-top: 20px; */
  }
  .btnn {
    /* display: inline-block; */
    /* background: lightseagreen; */
    /* justify-content: center; */
    color: white;
    padding: 10px 5px;
    margin: 30px 20;
    border-radius: 20px;
    /* border: 1px solid aqua; */
    transition: background 0.3s;
    
  
  }

  .btnnn {
    /* display: inline-block; */
    /* background: lightseagreen; */
    color: white;
    padding:10px 5px;
    margin: px 0;
    margin-left: -5px;
    border-radius: 20px;
    /* margin-top: 100px; */
    /* border: 1px solid aqua; */
    transition: background 0.3s;
    
  
  }
  
  
  .containe{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
    }
    .item{
        height: 30px;
        width: 120px;
        background-color: white;
        margin: 4px;
        /* border: 2px solid black; */
        /* border-radius: 5px solid black; */
        border-radius: 5px;
        transition: background 0.5s;
    }
    iii{
      color: rgb(8, 94, 94);
      font-size: 20px;
      padding-left: 5px;
    }
  iiii{
  color: white;
  font-size: 20px;
  padding-left: 5px;
  }
  
  }


